.banner {
    background-image: url('images/banner.webp');
    background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

* {
 font-family: Raleway, sans-sarif;
}

.giant {
	
}