.banner {
    /*background-image: url('images/banner.webp');*/
	background-position: center;
	background-size: cover;
}

* {
 font-family: Montserrat, sans-sarif;
}

@keyframes blink {
	50% {
		opacity: 0;
	  }
	  100% {
		opacity: 1;
	  }
}

.typewriter::after {
	content: '';
	width:2px;
	height:20px;
	background:black;
	opacity: 0;
	display: inline-block;


	animation: blink 500ms linear infinite alternate;
};

.giant {
	
}