body {
  background-color: lightblue;
}

.banner {
	background-image:
	url("images/focuspocusgif.gif");
	
	filter: blur(8px);
	-webkit-filter: blur(8px);
	
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}